/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*, *::before, *::after {
     box-sizing: border-box;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    line-height: 1.5;
    font-family: Noto Sans TC, sans-serif;
    margin: 0 auto;
}
a {
  text-decoration: none;
}
.header{
    display:flex;
    justify-content: center;
    margin:24px auto;
}
.header a{
    color: #000;
    font-size:28px ;
    font-weight: 700;
    margin:0 20px;
}
.intro{
    display:flex;
    justify-content :space-between;
    border-bottom:1px solid  #6C757D ;
    border-top: 1px solid #6C757D;
}
.introimg{
    width:50%;
}
img{
    display:block;
    max-width: 100%;
    height: auto;
}
.introtext{
    width:50%;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.hashtag{
    display:flex;
}
.date{
    font-weight: 500;
}
.tag{
    font-size: 24px;
    font-weight: 500;
    margin-top: 4px;
    display:flex;
}
.tag a{
    color: blue;
}
.label{
    background: #0027D5;
    border-radius: 40px;
    padding: 6px 12px;
    margin-left:8px;
    color: #FFFFFF;
    font-size: 16px;
}
.title{
    font-size: 28px;
    font-weight: 700;
    margin-top: 8px;
}
@media(max-width:636px)
{
    .intro{
        flex-direction: column;
    }

     .introimg,.introtext{
        width: 100%;
    }
}
.content{
    padding:0 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: left;              
    max-width: 636px;           
    margin: 0 auto;  
}
.content h2{
    display:block;
    font-size: 28px;
    font-weight: 700;
    color:blue;
    margin-top:24px;
}
.content1 h2{
    margin-top:80px;
}
.content h3{
    display:block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
}
.content p{
    margin-top:24px;
    display:block;
    font-weight: 500;
    margin-top: 12px;
}
.content1 p{
    margin-top: 24px;
}
.list{
    padding-left: 1.5em; 
}
.ulist{
    margin-top: 12px;
}
.content a{
    color: blue;
}
.conclusion{
    background: #EDEDED;
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
}
.content img{
    margin-top:48px;
}
.contact{
    text-decoration: underline;
}
.extend{        
    max-width: 636px;           
    margin: 0 auto; 
    padding: 12px; 
}
.extend h2{
    color:blue;
    font-size: 28px;
    font-weight: 700;
    margin-top: 48px;
}
.extend ul{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
}
.button{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 48px;
}
.button a{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    border: #000 solid 1px;
    color: #4B4B4B;
}
.button a:hover{
    background: #4B4B4B;
    color: #FFFFFF;
}
.footer{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:80px auto;
    font-size: 32px;
    font-weight: 500;
    border-top: 1px solid #6C757D;
}
@media(max-width:636px){
    .footer{
        display: none;
    }
}
.mail{
    color:#000;
}
.footer ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
}
.footertext{
    display: flex;
    
    justify-content: center;
}
.footertext p{
    margin:24px auto;
}


